#root {
  max-width: 100%;
  margin-top: 1em;
  /* padding: 2rem; */
  text-align: center;
}
.bg-clr {
  background-color: #f4f3f4;
}
.bg-white {
  background-color: white;
}
.full-round {
  border-radius: 100%;
}
.font-big {
  font-size: 1rem;
}

hr {
  background-color: #f4f3f4;
}

.grabber {
  cursor: grabbing;
}

/* .visible {
  display: visible;
} */
/* .invisible {
  display: hidden;
} */

.animate-drag {
  height: 5em;
  transition: height 2s ease-in-out;
}
